<!DOCTYPE html>
<html>
    <head>
        <title>Direct Message</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    </head>
    <body>
        <div class="level-item has-text-centered">
            <div>
                <picture>
                    <source srcset="images/logo-white.png" media="(prefers-color-scheme:dark)" class="logo">
                    <img src="images/logo-black.png" class="logo">
                </picture>
            </div>
        </div>
        <p class="is-size-3 has-text-centered" style="color: black;position: relative;top: 70px; right: -400px;">Direct Message</p>
        <section class="content columns" style="height: 100%;">
            <!-- CHAT COLUMN -->
            <article class="column is-three-fifths" id="chat-column">
            <!-- <article class="chat column box is-three-fifths" style="position: relative;"> -->
                <!-- <div class="box is-fullheight"> -->
                    <div id="chatbox" class="p-2">
                        <!-- <div class="tile is-vertical">
                            <article class="message is-primary">
                                <div class="message-body">
                                    <b>Guest: </b>this is what a chat looks like
                                </div>
                            </article>
                        </div> -->
                    </div>
                    <div class="is-widescreen" id="send-message-box">
                        <form method="post" action = "/createpost">
                            <div class="field has-addons p-3">
                                <p class="control is-expanded">
                                    <input class="input" type="text" name="message" placeholder="Send Message to {Recepient Username}...">
                                </p>
                                <p class="control">
                                    <button type="submit" class="button">Submit</button>
                                </p>
                                <!-- <div class="field-label is-normal"><label class="label" for="message"> Message </label></div>
                                <div class="field-body">
                                    <div class="field"><input class="input is-rounded is-expanded" type="text" name="message"></div>
                                    <button type="submit"> Submit </button>
                                </div> -->
                            </div>
                        </form>
                    </div>
                <!-- </div> -->
            </article>
        </body>
</html>