<!DOCTYPE html>
<html>
    <head>
        <title>Direct Message</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
        <script src="/js/dmfunctions.js"></script>
    </head>
    <body onload="load();">
        <div class="level-item has-text-centered">
            <div>
                <picture>
                    <source srcset="images/logo-white.png" media="(prefers-color-scheme:dark)" class="logo">
                    <img src="images/logo-black.png" class="logo">
                </picture>
            </div>
        </div>
        <p class="is-size-3 has-text-centered" style="position: relative;top: 70px; right: -400px;">Direct Message</p>
        <p class="is-size-5 has-text-centered" style="position: relative; right: 400px;">Send Message To: {{ Recipient_Username }}</p>
        <p class="is-size-5 has-text-centered" style="position: relative;top: -90px; right: 550px;">{{ username }}</p>
        <section class="content columns" style="height: 100%;">
            <!-- CHAT COLUMN -->
            <article class="column is-three-fifths" id="chat-columnDM">
                    <div id="chatbox" class="p-2">
                    </div>
                    <div class="is-widescreen" id="send-message-boxDM">
                            <input type="hidden" id="user" name="user" value="{{ username }}">
                            <input type="hidden" id="recipient" name="recipient" value="{{ Recipient_Username }}">
                            <div class="field has-addons p-3">
                                <p class="control is-expanded">
                                    <input class="input" id="DMmessage" type="text" name="message" placeholder="Send Message to {Recepient Username}...">
                                </p>
                                <p class="control">
                                    <button type="submit" id="send-button" class="button">Submit</button>
                                </p>
                                <!-- <div class="field-label is-normal"><label class="label" for="message"> Message </label></div>
                                <div class="field-body">
                                    <div class="field"><input class="input is-rounded is-expanded" type="text" name="message"></div>
                                    <button type="submit"> Submit </button>
                                </div> -->
                            </div>
                        </form>
                    </div>
                <!-- </div> -->
            </article> 
        </body>
</html>