<!DOCTYPE html>

<html>
    <head>
        <title>jesseisnotworstcseteacher</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="/js/functions.js"></script>
    </head>
    <body onload="welcome();">
        <nav class="level">
            <div class="level-item has-text-centered" id="displayed_username">Guest</div>
            <h1 class="title level-item has-text-centered">jesseisnotworstcseteacher </h1>
            <div class="level-item has-text-centered">
                <div class="logout">
                    <button class="button is-primary" action="/logout" 
                        method="post" type="submit" value="Logout">
                            Logout
                    </button>
                </div>
            </div>
        </nav>
        <div class="Content columns">
            <!-- CHAT COLUMN -->
            <div class="chat column is-three-fifths box is-fullheight" style="position: relative;">
                <div id="chatbox">
                    <div class="tile is-vertical">
                        <article class="message is-primary">
                            <div class="message-body">
                                <b>Guest: </b>this is what a chat looks like
                            </div>
                        </article>
                    </div>
                </div>
                <form method="post" action = "/createpost">
                    <div class="field is-horizontal" id="message" style="position: absolute; bottom: 0; padding: 5px;">
                        <div class="field-label is-normal"><label class="label" for="message"> Message </label></div>
                        <div class="field-body">
                            <div class="field"><input class="input is-rounded" type="text" name="message"></div>
                            <button type="submit"> Submit </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- REGISTRATION COLUMN -->
            <div class="users column is-fullheight">
                <form class="box register" action="/register" method="post">
                    <h1 class="title">Register</h1>
                    <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username">
                    </div>
                    </div>

                    <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password">
                    </div>
                    </div>

                    <button class="button is-primary" value="Register" type="submit">Sign in</button>
                </form>
                <form class="box login" action="/login" method="post">
                    <h1 class="title">Login:</h1>
                    <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username">
                    </div>
                    </div>
                
                    <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password">
                    </div>
                    </div>

                    <button class="button is-primary" value="Login" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>
