<!DOCTYPE html>

<html>
    <head>
        <title>jesseisnotworstcseteacher</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="/js/functions.js"></script>
    </head>
    <div class="title">
        <h1>jesseisnotworstcseteacher </h1>
    </div>
    <div class="Content">
        <div class="chat">
            <body>Chat goes here</body>
        </div>
    </div>
    <div class="users">
        <body>Users go here</body>
    </div>
</html>
