<!DOCTYPE html>

<html>
    <head>
        <title>jesseisnotworstcseteacher</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <div class="title">
        <h1>jesseisnotworstcseteacher </h1>
    </div>
    <div class="columns">
        <div class="Content">
            <div class="chat column">
                <body>Chat goes here</body>
            </div>
        </div>
        <div class="users column">
            <body>Users go here</body>
        </div>
    </div>
    <script src="/js/functions.js"></script>
</html>
